// src/components/CookieConsent/CookieConsent.module.scss
@use '@styles/variables' as vars;

.banner {
    position: absolute;
    top: 50%;
    border-radius: 5px;
    max-width: 100vw;
    max-height: 100vh;
    // background-color: vars.$gray;
    // color: vars.$primaryColor;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: (vars.$tablet)) {
        width: 95vw;

    }

    .checkboxGroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-bottom: 15px;

        @media (max-width: (vars.$tablet)) {
            flex-direction: column;
            align-content: space-evenly;

        }
    }

    .checkboxGroup label {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 1rem;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;

        @media (max-width: (vars.$tablet)) {
            flex-direction: column;
            align-content: space-evenly;

        }
    }

    .button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: vars.$primaryColor;
        color: vars.$secondaryColor;
        transition: background-color 0.3s;

        &:hover {
            background-color: vars.$secondaryColor;
            color: vars.$primaryColor;
        }

    }

}