$bluePrimary: #187984;
$blueSecondary: #00929D;
$white: #fdfdfd;
$black: #29332E;
$gray: #F5F5F5;
$graysecond: #808080;

$fontSizeSmallest: 0.8rem;
$fontSizeSmaller: 0.9rem;
$fontSizeSmall: 1rem;
$fontSizeRegular: 1.1rem;
$fontSizeLarge: 1.2rem;
$fontSizeLarger: 1.3rem;
$fontSizeLargerPlus: 1.4rem;
$fontSizeLargest: 1.5rem;

$fontW_reguler: 400;
$fontW_medium: 600;
$fontW_bold: 800;

//media size
$mobile: 450px;
$miniTab: 700px;
$tablet: 1000px;
$desktop: 1366px;