@import '../../styles/variables';

.scrollToTop {
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 40px;
    width: 40px;
    padding: 10px 10px;
    font-size: 1rem;
    background-color: $primaryColor;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;

    &:hover {
        opacity: 1;
    }
// @media (max-width:($miniTab)) {
 
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//      align-content: center; 
//     justify-content: center;
//     align-items: center;
    
// }
    @media (min-width: ($desktop)) {
       
       position: fixed;
        img {
            // height: 50px;
            vertical-align: middle;
            // width: 50px;
        }
    }
    @media (min-width:($tablet)) {
        position: fixed;
        
    }
    @media (max-width: ($miniTab))  {
        margin: 0 25%;
    }
    @media (max-width: ($mobile)) {
        margin-top: 10px;
    }

}