@import '../editorVariables';

.d_flex {
  display: flex;
}

.f_column {
  flex-direction: column;
}

.editorModule {
  width: 90vw;
  background: linear-gradient(to bottom right, $gray, $gray);
  text-align: center;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: fixed;
  padding: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;

  .formGroupOutDiv {
    gap: 1.5rem;
    width: 100%;
    justify-content: space-between;

    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      width: 40%;
      label,.contentLabel{
        font-size: $fontSizeRegular ;
        font-weight: $fontW_medium;
      }
    }
  }

  .floatingLabelInput {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1.5rem;

    input,
    .selectField {
      font-size: $fontSizeRegular;
      width: 100%;
      padding: 0.5rem 0.75rem;
      border-radius: 10px;
      border: 1px solid #ccc;
      outline: none;
      background: #f5f5f5;

      &:focus {
        border-color: $editorPrimaryColor;
      }

      &:focus+label,
      &:not(:placeholder-shown)+label,
      &.active+label {
        transform: translateY(-1.3rem) translateX(0.5rem) scale(0.7);
        color: $editorPrimaryColor;
        background-color: #f5f5f5;
        padding: 0 0.25rem;
      }
    }

    label {
      position: absolute;
      left: 0.75rem;
      top: 0.75rem;
      color: #999;
      
      pointer-events: none;
      transition: all 0.2s ease;
      transform-origin: left top;
      background-color: #f5f5f5;
      padding: 0 0.25rem;
      border-radius: 5px;
    }
  }


  .inputField {
    font-size: $fontSizeRegular;
    width: 100%;
    max-height: 90vh;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .editorWrapper {
    overflow: auto;
    border-radius: 10px;
  }

  .quillEditor {
    overflow: auto;
    width: 100%;
    max-width: 75vw;
    height: 400px;
    max-height: 50vh;
    min-width: 300px;
    min-height: 200px;
    resize: both;
    border: 1px solid #ccc;
    border-radius: 10px;

    .ql-container {
      height: 100%;
    }
  }

  .btnBlock {
    display: flex;
    gap: 2rem;

    .submit,
    .cancel {
      font-size: $fontSizeRegular;
      border-radius: 10px;
      border: none;
      color: white;
      padding: 8px 12px;
      margin: 10px;
      width: 80px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }

    .cancel {
      background-color: $editorPrimaryRed;
    }

    .submit {
      background-color: $editorPrimaryColor;

    }
  }

  .switchWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .4s;
      border-radius: 24px;

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 2px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
      }
    }

    input:checked+.slider {
      background-color: $editorPrimaryColor;
    }

    input:checked+.slider:before {
      transform: translateX(26px);
    }
  }

  .switchLabel {
    font-size: $fontSizeRegular;
    font-weight: $fontW_medium;
    color: #333;
  }
}