@use '@styles/variables' as vars;
.font-size-controls {
  display: flex;
  align-items: center;
  gap: 12px;

  .font-label {
    font-size: vars.$fontSize-regular;
    min-width: 100px;
    text-align: center;
  }

  .circle-button {
    width: 30px;
    height: 30px;
    background-color: vars.$bg-light;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:hover {
      transform: scale(1.3);
      background-color: vars.$brand-faint;
    }

    .hor-line,
    .ver-line {
      position: absolute;
      background-color: vars.$text-light;
    }

    .hor-line {
      width: 12px;
      height: 2px;
    }

    .ver-line {
      width: 2px;
      height: 12px;
    }
  }
}