@use '../../styles/variables' as vars;
.vitaModule{
    width: 80vw;
    max-width: calc(vars.$max-width - 200px);
    max-height: 80vh;
    overflow-Y: scroll;
    background-color: vars.$white;
    display: grid;
    
    .closeButton {
      display: flex;
      align-items: center;
        justify-self: flex-end;
        background: none;
        border: none;
        color: vars.$primaryColor;
        font-size: vars.$fontSizeRegular;
        font-weight: vars.$fontW_bold;
        -webkit-text-stroke: 0.5px vars.$graysecond;
        cursor: pointer;
        position: absolute;
        margin-top: -30px; 
        margin-right: -20px;
        z-index: 11;
        
      }
    }