@import '../../styles/variables';

.header {
  font-size: $fontSizeSmaller;
  margin-bottom: 4rem;

  @media (min-width: 1500px) {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    font-size: $fontSizeRegular;
  }

  .subRouteIcon,.svgIconsR {
    color: $primaryColor;
    vertical-align: middle;
    margin-left: 8px; 
    font-size: 0.75rem; 
  }

  .subRouteIcon{
    color: $secondaryColor;
  }

  .topBar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;

    .actions {
      display: flex;
      align-items: center;
      gap: 15px;
      font-weight: $fontW_medium;

      .actionLink {
        color: $primaryColor;
        text-decoration: none;
        padding-right: 20px;
        border-right: 3px solid $gray;

        &:hover {
          text-decoration: none;
        }
      }

      .phoneNumber {
        color: $primaryColor;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      .bookButton {
        background-color: $primaryColor;
        color: $white;
        display: flex;
        text-decoration: none;
        height: 60px;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;

        &:hover {
          background-color: lighten($primaryColor, 20%);
        }
      }
    }

    .mobileMenuButton {
      display: none;
      background: none;
      border: none;
      color: $primaryColor;
      cursor: pointer;

      @media (max-width: $tablet) {
        display: block;
      }
    }
  }

  .botBar {
    display: flex;
    height: 70px;

    .logo {
      text-align: center;
      padding: 0 10px;
      width: 15%;

      img {
        height: 100%;
        transform-origin: bottom;
        transform: scaleY(1.1);
        @media (min-width:( $desktop +200)) {
          height: 117%;
          width: 77%;
          transform-origin: bottom;
          transform: scaleY(1.3);      
        }
        max-width: 156px;

      }
    }
  }
  @media (max-width: $tablet) {
    .botBar {
      display: none;
    }
  }
}