@import '../../styles/variables';

.header {
  font-size: $fontSizeSmaller;
  margin-bottom: 4rem;

  @media (min-width: 1500px) {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    font-size: $fontSizeRegular;
  }

  .subRouteIcon,.svgIconsR {
    color: $primaryColor;
    vertical-align: middle;
    margin-left: 8px; 
    font-size: 0.75rem; 
  }

  .subRouteIcon{
    color: $secondaryColor;
  }

  .topBar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;

    .actions {
      display: flex;
      align-items: center;
      gap: 15px;
      font-weight: $fontW_medium;

      .actionLink {
        color: $primaryColor;
        text-decoration: none;
        padding-right: 20px;
        border-right: 3px solid $gray;

        &:hover {
          text-decoration: none;
        }
      }

      .phoneNumber {
        color: $primaryColor;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      .bookButton {
        background-color: $primaryColor;
        color: $white;
        display: flex;
        text-decoration: none;
        height: 60px;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;

        &:hover {
          background-color: lighten($primaryColor, 20%);
        }
      }
    }

    .mobileMenuButton {
      display: none;
      background: none;
      border: none;
      color: $primaryColor;
      cursor: pointer;

      @media (max-width: $tablet) {
        display: block;
      }
    }
  }

  .botBar {
    display: flex;
    height: 70px;

    .logo {
      text-align: center;
      padding: 0 10px;
      width: 15%;

      img {
        height: 100%;
        transform-origin: bottom;
        transform: scaleY(1.1);
        @media (min-width:( $desktop +200)) {
          height: 117%;
          width: 77%;
          transform-origin: bottom;
          transform: scaleY(1.3);      
        }
        max-width: 156px;

      }
    }

    .nav {
      display: flex;
      justify-content: center;
      background-color: $primaryColor;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      position: relative;
      text-transform: capitalize;


      .navLink {
        display: flex;
        color: $white;
        gap: 5px;
        text-decoration: none;
        white-space: nowrap;
        position: relative;
        padding: 0px 15px;
        font-weight: $fontW_medium;
        text-wrap: wrap;
        cursor: pointer;
        justify-content: center;
        text-align: center;


        &.active {
          &::after {
            background-color: $primaryColor;
          }
        }
      }

      .dropdownWrapper {
        position: relative;
        height: 100%;

        .svgIconsR {
          transition: opacity 0.3s ease;
        }

        .iconHidden {
          opacity: 0;
          visibility: hidden;
        }

        .svgIconsR:not(.iconHidden) {
          opacity: 1;
          visibility: visible;
        }
        .navLink{
          height: 100%;
          align-items: center;
          padding: 0 20px;
        }
      }

      .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $primaryColor;

        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 0px;
        .navLink{
          padding: 10px;
         &:hover{
          color: $primaryColor;
          background-color: $secondaryColor;
         }
        }

        // @media (min-width: 1500px) {
        //   margin-top: 14px;
        // }
      }

      .dropdownItem {
        color: $white;
        text-decoration: none;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
        
          background-color: lighten($secondaryColor, 10%);
        }
      }

      .underline {
        position: absolute;
        bottom: 10px;
        height: 2px;
        background-color: $primaryColor;
        left: 0;
        width: 0;
      }
    }
  }

  @media (max-width: $tablet) {
    .botBar {
      display: none;
    }
  }
}