@use '@styles/variables' as vars;
@use 'sass:color';
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: vars.$primaryColor;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  overflow-y: auto;
}

.logoContainer {
  margin-bottom: 2.5rem;
  width: 100px;
  background: none repeat scroll 0% 0% #FFF;
  border-radius: 15%;
  box-shadow: 0px 0px 22px 25px #FFF;

  .logo {
    height: 100%;
    width: 100%;
    background: none repeat scroll 0% 0% #FFF;
  }
}

.svgIconsR {
  color: vars.$primaryColor;

  vertical-align: middle;
}

.hamburgerIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  font-size: 24px;
  color: vars.$white;
  mix-blend-mode: multiply;
  cursor: pointer;
  background: none;
  border: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  // padding: 20px;

  .navLink {
  
    width: 100%;
    color: vars.$white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: vars.$fontSizeLarge;

    @media (min-width: vars.$miniTab) {
      font-size: vars.$fontSizeLargest;
    }

    font-weight: vars.$fontW_medium;
    transition: background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
    padding: 5px;
    &:hover {
      color:color.scale(vars.$white, $lightness: 10%);;
      transform: scale(0.9, 1.05);
      background-color: color.scale(vars.$primaryColor, $lightness: 10%);
    }
  }
}

.dropdownWrapper {
  width: 100%;

  .navLink {

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subMenu {
    background-color: color.scale(vars.$primaryColor, $lightness: 10%);
  }

}

.chevronIcon {
  margin-left: 10px;
}