@use "../../Styles/variables" as vars;

.accessibility-menu {
    position: fixed;
    right: -100%;
    background-color: vars.$white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: right 0.3s ease-in;
    cursor: pointer;
}

.accessibility-menu.open {
    left: calc(100vw - 360px);
    // right: 0;
}

.accessibility-icon {
    color: vars.$primaryColor;
    position: fixed;
    bottom: 1px;
    right: 10px;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 50px;
    height: 45px;
    width: 45px;

}

.menu-content {
    position: fixed;
    display: flex;
    max-width: 300px;
    padding: 20px 20px 20px 0;
    z-index: 4;
    background-color: vars.$white;
    border-radius: 5px;
    justify-content: space-between;
     align-items: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(100%);
    &.open {
        opacity: 1;
        transform: translateX(0);
        bottom: 5%;
    }

    .close_Icon {
        color: vars.$primaryColor;
        font-size: vars.$fontSizeLargest;
        display: flex;
        align-items: center;
    }

    .font-size-func {
        display: flex;


        h3 {
            margin: 0;
            text-align: center;
            min-width:130px;
            color: vars.$black;
        }

        .circle {
            position: relative;
            border: 2px solid vars.$primaryColor;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            align-self: center;
            margin: 0 10px;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.3);
            }

            .hor-line,
            .ver-line {
                position: absolute;
                background-color: vars.$primaryColor;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

            }

            .hor-line {
                height: 2px;
                width: 8px;
            }

            .ver-line {
                height: 8px;
                width: 2px;
            }
        }
    }
}