@use '@styles/variables' as vars;
.breadcrumb {
    font-size: vars.$fontSizeLarge;
    margin-bottom: 1rem;
    font-weight: vars.$fontW_medium;
  }
  
  .breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .breadcrumb li {
    display: inline;
    color:vars.$primaryColor;
  }
  
  .breadcrumb li + li:before {
    content: ' > ';
    padding: 0 8px;
    color:vars.$primaryColor;
  }
  
  .breadcrumb li a {
    text-decoration: none;
    color:  vars.$primaryColor;
    text-transform: capitalize;
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb li span {
    color:vars.$primaryColor;
    text-transform: capitalize;

  }
  