@import '../../styles/variables';

.Footer {
    position: relative;
    bottom: 0;
    max-width: 100vw;
    background-color: $secondaryColor;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: $primaryColor;
}

.footerLinks {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;

    li {
        display: inline;
        
        a {
            text-decoration: none;
            color: $primaryColor;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}