@use '@styles/variables' as vars;
@use 'sass:color';

.header {
  font-size: vars.$fontSize-smaller;
  margin-bottom: 4rem;

  @media (min-width: 1500px) {
    max-width: vars.$max-width;
    margin-left: auto;
    margin-right: auto;
    font-size: vars.$fontSize-regular;
  }

  .subRouteIcon,
  .svgIconsR {
    color: vars.$primaryColor;
    vertical-align: middle;
    margin-left: 8px;
    font-size: 0.75rem;
  }

  .subRouteIcon {
    color: vars.$secondaryColor;
  }

  .topBar {
    display: flex;
    justify-content: end;
    align-items: center;
    // padding: 0 20px;

    .actions {
      display: flex;
      align-items: center;
      gap: 15px;
      font-weight: vars.$fontWeight-medium;
      a{
        align-items: center;
        white-space-collapse: preserve;
      }

      .actionLink {


        color: vars.$primaryColor;
        text-decoration: none;
        padding-right: 20px;
        border-right: 3px solid vars.$gray;

        &:hover {
          text-decoration: none;
        }
      }

      .phoneNumber {


        color: vars.$primaryColor;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      .bookButton {
      

        background-color: vars.$primaryColor;
        color: vars.$white;
        display: flex;
        text-decoration: none;
        height: 60px;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;

        &:hover {
          background-color: color.scale(vars.$primaryColor, $lightness: 20%);
        }
      }
    }

    .mobileMenuButton {
      display: none;
      background: none;
      border: none;
      color: vars.$primaryColor;
      cursor: pointer;

      @media (max-width: vars.$tablet) {
        display: block;
      }
    }
  }

  .botBar {
    display: flex;
    height: 70px;

    .logo {
      text-align: center;
      padding: 0 10px;
      width: 15%;

      img {
        height: 100%;

        // transform-origin: bottom;
        // transform: scaleY(1.1);
        @media (min-width: (vars.$desktop + 200)) {
          // height: 117%;
          // width: 77%;
          // transform-origin: bottom;
          // transform: scaleY(1.3);      
        }

        max-width: 156px;

      }
    }
  }

  @media (max-width: vars.$tablet) {
    .botBar {
      display: none;
    }
  }
}