@use '@styles/variables' as vars;
.accessibilityFeatures {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
  margin: 0.5rem 0;

  button {
    outline: none;
    border: none;
    font: inherit;
    transition: background 0.2s, color 0.2s;
    text-align: left;
    display: flex;
    align-items: center;

    &:focus {
      box-shadow: 0 0 0 2px vars.$brand-light;
    }
  }
}
