@use '@styles/variables' as vars;


vars.$editorPrimaryColor: if(vars.$primaryColor != null, vars.$primaryColor, #1b75cf);
vars.$editorPrimaryRed: if(vars.$primaryRed != null, vars.$primaryColor, #ff0e0e);
vars.$gray: if(vars.$gray != null, vars.$gray, #F2F2F2);
vars.$fontW_medium:if(vars.$fontW_medium != null, vars.$fontW_medium, 600);
vars.$fontW_bold:if(vars.$fontW_bold != null, vars.$fontW_bold, 800);
vars.$fontSizeRegular:if(vars.$fontSizeRegular != null, vars.$fontSizeRegular, 1.1rem); 
vars.$fontSizeLarger:if(vars.$fontSizeLarger != null, vars.$fontSizeLarger, 1.3rem); 
vars.$fontSizeLargerPlus:if(vars.$fontSizeLargerPlus != null, vars.$fontSizeLargerPlus, 1.4rem); 
