@use '@styles/variables' as vars;


vars.$editorPrimaryColor: if(vars.$primaryColor != null, vars.$primaryColor, #1b75cf);
vars.$editorPrimaryRed: if(vars.$primaryRed != null, vars.$primaryColor, #ff0e0e);
vars.$gray: if(vars.$gray != null, vars.$gray, #F2F2F2);
vars.$fontWeight-medium:if(vars.$fontWeight-medium != null, vars.$fontWeight-medium, 600);
vars.$fontWeight-bold:if(vars.$fontWeight-bold != null, vars.$fontWeight-bold, 800);
vars.$fontSize-regular:if(vars.$fontSize-regular != null, vars.$fontSize-regular, 1.1rem); 
vars.$fontSizeLarger:if(vars.$fontSizeLarger != null, vars.$fontSizeLarger, 1.3rem); 
vars.$fontSizeLargerPlus:if(vars.$fontSizeLargerPlus != null, vars.$fontSizeLargerPlus, 1.4rem); 
