@use '@styles/variables' as vars;

.scrollToTop {
   
    position: fixed;
    bottom: 80px;
    right: 13px;
    height: 40px;
    width: 40px;
    padding: 10px 10px;
    font-size: 1rem;
    background-color: vars.$primaryColor;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    z-index: 1;
    &:hover {
        opacity: 1;
    }
}