// src/components/CookieConsent/CookieConsent.module.scss
@import "../../Styles/variables";

.banner {
    position: fixed;
    top: 50%;
    max-width: 100vw;
    max-height: 100vh;
    background-color: $gray;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    left: 50%;
    transform: translate(-50% ,-50%);
    @media (max-width: ($tablet)) {
        width:95vw ;

    }
    .checkboxGroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-bottom: 15px;
        @media (max-width: ($tablet)) {
           flex-direction: column;
           align-content: space-evenly;
    
        }
    }

    .checkboxGroup label {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 1rem;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        @media (max-width: ($tablet)) {
            // flex-direction: column;
            // padding: 1rem;
            align-content: space-evenly;
     
         }
    }

    .button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: $redPrimary;
        color: $white;
        transition: background-color 0.3s;
       
    }

    .button:hover {
        background-color: $redSecondary;
        color: $black;
    }
}