@use '@styles/variables' as vars;

.containerCus {

 margin-top: 4rem;
padding: 2rem 3vw;
box-sizing: border-box;
max-width: vars.$max-width;
max-width: vars.$max-width;
text-align: left;
// @media (min-width: vars.$miniTab) {
//     margin-bottom: 4rem;
// }

        .heading {
            text-align: center;

        }

        .line {
            display: block;
            width: 51px;
            height: 5px;
            border: 4px;

        }
        // .subHeading{
        //     font-size: vars.$fontSize-largest;
        //     font-weight: vars.$fontWeight-medium;
        // }
        .content{
            // margin-top: 1rem;
            ul{
                li{
                    margin-bottom: 1rem;
                    line-height: 1.5;
                }
            }
        }
}