@use '@styles/variables' as vars;

.container {

margin-top: 4rem;
margin: 2rem 3vw;
max-width: vars.$max-width;
text-align: left;

        .heading {
            font-size: vars.$fontSizeLarge;
            margin-bottom: 15px;
            color: vars.$primaryColor;
            font-weight: vars.$fontW_medium;
            
        }

        .line {
            display: block;
            width: 51px;
            height: 5px;
            background-color: vars.$primaryColor;
            border: 4px;

        }
        .subHeading{
            font-size: vars.$fontSizeLargest;
            font-weight: vars.$fontW_medium;
        }
        .content{
            margin-top: 3rem;
            ul{
                li{
                    margin-bottom: 1rem;
                    line-height: 1.5;
                }
            }
        }
}