@import '../../styles/variables';

.siteMap {
  text-align: left;

  h1 {
    font-size: 2.5rem;
    color: $primaryColor;
  }

  margin: 3rem 0;
  min-height: 30vw;

  @media (max-width: ($tablet)) {
    padding-left: 5vw;
  }

  @media (min-width: ($tablet)) {
    padding-left: 20vw;
  }

  @media (max-width: ($mobile)) {
    padding-left: 5vw;
  }

  font-size: $fontSizeLarge;

  .sitemap {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      &.setColumn {
        @media (min-width: ($tablet)) {
          column-count: 2;
          column-gap: 20px;
        }

        @media (min-width: ($desktop)) {
          column-count: 3;
        }

      }

    }

    .item,
    .subItem,
    .subSubItem {
      align-items: center;
      color: $primaryColor;
      break-inside: avoid;
      margin-bottom: 15px;

      &:hover {
        color: darken($primaryColor, 40%);
      }
    }

    a {
      text-decoration: none;
      color: $primaryColor;
      display: inline-block;
    }

    .item {
      margin-bottom: 20px;

      a {
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
          color: darken($primaryColor, 40%);
          transform: scale(1.05) translateX(10px);
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
      }

      &::before {
        content: "•";
        margin-right: 15px;
      }
    }

    .subItem {
      width: 100%;
      padding-left: 40px;
      margin: 5px 0;

      &::before {
        content: "→";
        margin-right: 15px;
      }

      a {
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
          transform: scale(1.05) translateX(10px);
        }
      }
    }
  }
}